<div class="col-8 mx-auto card card-body text-center mt-4">
  <p>Click image to download as <br />{{ barcodeFileName }}</p>
  <div class="row mt-3" style="height: 200px; text-align: center">
    <div [hidden]="true" class="mx-auto">
      <canvas id="barcode-cnv"></canvas>
    </div>
    <div [hidden]="!invalidMsgHidden" class="mx-auto">
      <a [href]="barcodeDataUrl" id="btn-download" [download]="barcodeFileName">
        <img [src]="barcodeDataUrl" id="barcode-image" />
      </a>
    </div>
    <div [hidden]="invalidMsgHidden" id="invalid" class="mx-auto mt-2">
      <span class="alert alert-warning">
        Not valid data for this barcode type!
      </span>
    </div>
  </div>
  <form class="row" [formGroup]="barcodeOptsForm">
    <div class="col-12">
      <div class="form-row form-group">
        <div class="input-group margin-bottom-sm">
          <input class="form-group form-control"
                 id="toEncodeInput"
                 formControlName="toEncode"
                 type="text"
                 placeholder="Barcode"
                 autofocus>
          <span class="input-group-append">
            <select class="btn btn-secondary"
                    id="barcodeTypeInput"
                    formControlName="barcodeType">
              <option *ngFor="let dv of barcodeSelections" [value]="dv.symbology">
                {{ dv.displayName }}
              </option>
            </select>
          </span>
        </div>
      </div>
      <!-- Bar width -->
      <div class="form-row form-group">
        <div class="col-3 text-left">
          <p>Bar Width</p>
        </div>
        <div class="col-5">
          <input id="bar-width-input"
                 class="w-100"
                 formControlName="barWidth"
                 type="range"
                 min="1"
                 max="4"
                 step="1" />
        </div>
        <div class="col-4">
          <p><span id="bar-width-display">
            {{ barcodeOptsForm?.get('barWidth')?.value }}
          </span></p>
        </div>
      </div>
      <!-- Bar height -->
      <div class="form-row form-group">
        <div class="col-3 text-left">
          <p>Bar Height</p>
        </div>
        <div class="col-5">
          <input id="bar-height-input"
                 class="w-100"
                 formControlName="barHeight"
                 type="range"
                 min="10"
                 max="150"
                 step="5" />
        </div>
        <div class="col-4">
          <p><span id="bar-height-display">
            {{ barcodeOptsForm?.get('barHeight')?.value }}
          </span></p>
        </div>
      </div>
    </div>
  </form>
</div>

